<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habit Tracker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        .habit-status {
            display: flex;
            justify-content: space-around;
        }
        .habit-status button {
            width: 30%;
        }
    </style>
</head>

<body>

   
</body>

</html>